# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
parts/
sdist/
var/
wheels/
share/python-wheels/
.installed.cfg
MANIFEST

# Sphinx documentation
docs/_build/

# mkdocs documentation
/site

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE related paths, see https://intellij-support.jetbrains.com/hc/en-us/articles/206544839
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf/*
.idea/sonarlint/*

# configuration with secret keys
config.py